.mp {
    padding-top: 1em;
    @include screen('mobile') {
        padding-top: 0;
    }
    h2 {
        font-size: 1.875em;
        letter-spacing: 0.05em;
    }
}

// more按鈕
.more {
    display: flex;
    justify-content: flex-end;
    margin: 1em 0;
    a {
        display: block;
        position: relative;
        text-align: center;
        background: $lightColor;
        border-radius: 4px;
        min-width: 120px;
        padding: .4em 1em;
        color: $color-word;
        transform: perspective(1px) translateZ(0);
        transition: .2s;
        overflow: hidden;
        &:after {
            content: "";
            width: 6px;
            height: 6px;
            border: 2px solid #FFF;
            transform: rotate(45deg);
            position: absolute;
            right: -10px;
            top: calc(50% - 4px);
            border-left: none;
            border-bottom: none;
            transition: .3s ease-out;
        }
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $secondaryColor;
            -webkit-transform: scale(0);
            transform: scale(0);
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }
        &:hover,
        &:focus {
            color: #fff;
            &:before {
                -webkit-transform: scale(1);
                transform: scale(1);
            }
            &:after {
                right: 15px;
            }
        }
    }
}

// a.more {
//     display: block;
//     width: 10em;
//     text-align: center;
//     height: 2.5em;
//     margin: .5em auto .5em;
//     line-height: 2.5;
//     color: $primaryColor;
//     border: 1px solid $primaryColor;
//     text-align: center;
//     overflow: hidden;
//     vertical-align: middle;
//     -webkit-transform: perspective(1px) translateZ(0);
//     transform: perspective(1px) translateZ(0);
//     box-shadow: 0 0 1px transparent;
//     position: relative;
//     -webkit-transition-property: color;
//     transition-property: color;
//     -webkit-transition-duration: 0.2s;
//     transition-duration: 0.2s;
//     &:after {
//         content: "";
//         width: 12px;
//         height: 12px;
//         border: 2px solid #FFF;
//         transform: rotate(45deg);
//         position: absolute;
//         right: -10px;
//         top: 14px;
//         border-left: none;
//         border-bottom: none;
//         transition: .3s ease-out;
//     }
//     &:before {
//         content: "";
//         position: absolute;
//         z-index: -1;
//         top: 0;
//         left: 0;
//         right: 0;
//         bottom: 0;
//         background: $primaryColor;
//         -webkit-transform: scale(0);
//         transform: scale(0);
//         -webkit-transition-property: transform;
//         transition-property: transform;
//         -webkit-transition-duration: 0.2s;
//         transition-duration: 0.2s;
//         -webkit-transition-timing-function: ease-out;
//         transition-timing-function: ease-out;
//     }
//     &:hover,
//     &:focus,
//     &.active {
//         color: white;
//         &:before {
//             -webkit-transform: scale(1);
//             transform: scale(1);
//         }
//         &:after {
//             right: 15px;
//         }
//     }
// }
.menusliderBlock {
    display: flex;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    .menu {
        flex-basis: 25%;
    }
    .mpsliderBlock {
        flex-basis: 75%;
        max-width: 75%;
        margin-top: 1em;
        @include screen('mobile') {
            flex-basis: 100%;
            max-width: 100%;
            margin-top: 0;
        }
    }
}

.searchinfoBlock {
    position: relative;
    background: url(../images/bg01.png) no-repeat top left;
    background-size: 200px;
    @include screen('mobile') {
        background: none;
    }
    &:before {
        content: "";
        position: absolute;
        right: 0;
        top: -100px;
        display: block;
        width: 350px;
        height: 500px;
        background: url(../images/bg02.png) no-repeat bottom right;
        background-size: cover;
    }
    .container {
        display: flex;
        @include screen('tablet') {
            flex-wrap: wrap;
        }
    }
    .search_tab {
        flex-basis: 330px;
        margin-right: 30px;
        padding: 15px;
        @include screen('tablet') {
            flex-basis: 100%;
            margin-right: 0;
            padding: 0 15px;
        }
    }
    .info_block {
        flex: 1 1 auto;
    }
}

//資訊區塊 內容不固定 自由編寫
.info_block {
    padding: 15px;
    .opening_time {
        font-size: 1.125em;
        margin-bottom: 1em;
    }
    ul {
        flex: 1 1 auto;
        @include li-reset;
        display: flex;
        justify-content: space-between;
        @include screen('xs_mobile') {
            flex-wrap: wrap;
        }
    }
    li {
        flex-basis: calc(25% - 6px);
        margin-bottom: .5em;
        min-height: 106px;
        background-color: $lightColor;
        border-radius: 4px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
        padding: 1em;
        margin: 5px 3px;
        @include screen('xs_mobile') {
            flex-basis: calc(50% - 6px);
        }
        .equipment {
            display: flex;
            align-items: flex-end;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            img {
                height: 28px;
                margin-right: 5px;
            }
        }
        .amount {
            font-size: 2em;
            margin-bottom: 15px;
            font-size: 'Times New Roman', serif;
        }
    }
    .link_otherInfo {
        padding: 0;
        overflow: hidden;
        a {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            color: $color-word;
            width: 100%;
            height: 100%;
            text-align: center;
            padding: 1em;
            background: $linkColor url(../images/icon/icon_linkto.svg) no-repeat center top 1.5em;
            background-size: 30px;
            transition: .3s all;
            &:hover {
                color: #fff;
                background: $secondaryColor url(../images/icon/icon_linkto2.svg) no-repeat center top 1.5em;
                background-size: 36px;
            }
        }
    }
}

//讀者服務
.reader_service {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 1400px;
    background-color: $color-bg;
    background: linear-gradient(90deg, rgba($linkColor, 0.6) 0%, rgba($color-bg, 1) 40%);
    @include screen('mobile') {
        background: linear-gradient(180deg, rgba($linkColor, 0.6) 0%, rgba($color-bg, 1) 40%);
    }
    .container {
        display: flex;
        align-items: center;
        padding: 1.5em 0;
        flex-wrap: wrap;
    }
    .title_h2 {
        flex-basis: 200px;
        @media screen and (max-width: 1399px) {
            text-align: center;
        }
        @include screen('mobile') {
            flex: 100%;
            margin: .5em 0;
        }
    }
    .service_list {
        flex: 1 1 auto;
        padding: 1em;
    }
    ul {
        display: flex;
        @include li-reset;
        @include screen('xs_mobile') {
            flex-wrap: wrap;
        }
    }
    li {
        flex: 1 1 20%;
        margin: 5px 3px;
        @include screen('xs_mobile') {
            flex-basis: calc(50% - 6px);
        }
        @media screen and (max-width: 400px) {
            width: 100%;
        }
        a {
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
            color: $color-word;
            background: $linkColor;
            border-radius: 4px;
            min-height: 100px;
            height: 100%;
            padding: 1em;
            font-size: 1.125em;
            transition: .3s;
            letter-spacing: 0.03em;
            &:hover {
                color: #fff;
                background: $secondaryColor;
                transform: translateY(-3px);
                box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
                .pic {
                    border-radius: 50%;
                }
            }
        }
    }
}

.bookSlider_block {
    background: url(../images/bookslider_bg.jpg) no-repeat right bottom;
    background-size: cover;
    padding: 2em 0;
    .title_h2 {
        text-align: center;
        color: #fff;
        position: relative;
        padding-bottom: .5em;
        margin-bottom: 1.5em;
        &::after {
            content: "";
            position: absolute;
            left: calc(50% - 56px);
            bottom: 0;
            display: block;
            height: 3px;
            width: 112px;
            background-color: $primaryColor;
        }
    }
}

//好書看板
.bookSlider_tabs {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .tabItem {
        min-width: 136px;
        background-color: $color-lightgray;
        border: 0;
        border-radius: 0;
        @include screen('mobile') {
            min-width: auto;
        }
        &:first-of-type {
            border-radius: 4px 0 0 4px;
        }
        &:last-of-type {
            border-radius: 0 4px 4px 0;
        }
    }
    .tabContent {
        padding: 40px 10px 0;
        width: 100%;
        //max-height: 410px;
        height: 460px;
        overflow: hidden;
        @include screen('mobile') {
            overflow: initial;
        }
    }
    .book_wrap {
        a {
            display: block;
            &:focus {
                outline: none;
                box-shadow: 0px 0px 0px 1px $primaryColor inset;
            }
        }
    }
    .book_name {
        color: #fff;
        margin: 1em auto;
        text-align: center;
        max-width: 175px;
        max-height: 45px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        @include screen('xs_mobile') {
            max-width: 150px;
        }
    }
}

//最新消息
.latest_news {
    position: relative;
    margin: 0 auto;
    max-width: 1400px;
    padding: 3em 0 0;
    overflow: hidden;
    @include screen('mobile') {
        padding: 0 0 2em 0;
    }
    .container {
        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 300px;
            background-image: linear-gradient(0deg, rgba(254, 252, 249, 1) 0%, rgba(254, 252, 249, 0) 50%), url(../images/bg02.png);
            background-repeat: no-repeat;
            background-position: bottom left, top left;
            //background-size: cover;
            @include screen('mobile') {
                left: 0;
            }
        }
        &::after {
            content: "";
            display: block;
            width: 300px;
            height: 100%;
            position: absolute;
            top: 28px;
            left: 0;
            background: url(../images/bg01.png) no-repeat top left;
            background-size: 300px;
            @include screen('mobile') {
                content: none;
            }
        }
        .tabSet {
            position: relative;
            z-index: 1;
        }
        .tabContent {
            ul {
                @include li-reset;
            }
            li {
                font-size: 1.125rem;
                margin: 0 0 1.3em 0;
                padding: 0;
                line-height: 1.6;
                display: flex;
                justify-content: space-between;
                border-bottom: 1px dashed #dedede;
                @include screen('mobile') {
                    @include text-overflow();
                }
                a {
                    @include aSetting_nocolor;
                }
                time {
                    display: inline-block;
                    margin: 0 1em;
                    font-size: .875em;
                    font-weight: bold;
                }
            }
        }
    }
    .title_h2 {
        position: relative;
        z-index: 2;
        margin-left: 40px;
        width: 118px;
        height: 160px;
        padding: .5em;
        background: url(../images/title_bg01.svg) no-repeat top left;
        background-size: cover;
        text-align: center;
        display: flex;
        align-items: flex-end;
        transform-origin: right top;
    }
    .tabSet {
        margin: 0;
    }
}

.related_link {
    position: relative;
    z-index: 1;
    .container {
        display: flex;
        align-items: flex-end;
        margin: 2em auto;
        @include screen('mobile') {
            flex-wrap: wrap;
        }
    }
    .title_h2 {
        position: relative;
        z-index: 2;
        margin: 5px 20px 5px 0;
        width: 138px;
        height: 160px;
        padding: .5em 1em;
        background: url(../images/title_bg02.svg) no-repeat top left;
        background-size: cover;
        text-align: center;
        display: flex;
        align-items: flex-end;
        transform-origin: right top;
    }
    .linkBlock {
        flex: 1 1 auto;
        ul {
            @include li-reset;
            display: flex;
            @include screen('mobile') {
                flex-wrap: wrap;
            }
        }
        li {
            flex-basis: calc(25% - 10px);
            margin: 5px;
            @include screen('mobile') {
                flex-basis: calc(50% - 10px);
            }
            >a {
                display: flex;
                padding: 8px;
                width: 100%;
                align-items: center;
                background: $lightColor;
                color: $color-word;
                border-radius: 4px;
                img {
                    width: 74px;
                    height: 74px;
                    object-fit: cover;
                    background: darken($lightColor, 10);
                    margin-right: 15px;
                }
            }
        }
    }
}

.library_info {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: calc(50% + 30px);
        height: 100%;
        background: url(../images/bg01.png) no-repeat top left;
        background-size: cover;
        @include screen('mobile') {
            content: none;
        }
    }
    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: calc(50% - 30px);
        height: calc(100% + 100px);
        background: url(../images/bg01.png) no-repeat top left;
        background-size: cover;
        @include screen('mobile') {
            width: 100%;
            height: 100%;
        }
    }
    .container {
        display: flex;
        flex-wrap: wrap;
    }
    .opening,
    .calendarBlock {
        position: relative;
        z-index: 1;
        flex-basis: 50%;
        max-width: 50%;
        @include screen('mobile') {
            flex-basis: 100%;
            max-width: 100%;
        }
    }
    .opening {
        padding: 40px 80px;
        line-height: 1.8em;
    }
    .calendarBlock {
        padding: 40px 0;
    }
}

//行事曆區塊
.calendarBlock {
    .calendar {
        max-width: 100%;
        width: 350px;
        margin: 0 auto;
    }
    .remark {
        max-width: 100%;
        width: 350px;
        margin: 0 auto;
        background-color: #fff;
        padding: .2em 1em;
        text-align: center;
        align-self: flex-end;
        ul {
            @include li-reset;
        }
    }
    .close-day,
    .act-day {
        display: inline-block;
        padding: .5em;
        max-width: 360px;
        margin: 0 auto;
        &:before {
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: 5px;
        }
    }
    .close-day {
        &:before {
            background: $color-gray;
        }
    }
    .act-day {
        &:before {
            background: $primaryColor;
        }
    }
}